@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-image: url(./resources/bg1.jpg);
  background-size: 100%;
} */

body {
  background-color: hsl(217, 54%, 11%);
  /* -webkit-tap-highlight-color: transparent; */
}
